.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

/* ჰედერი */
header{
    width: 85.42%;
    display: flex;
    margin: 0 auto;
    padding-top: 52px;
    padding-bottom: 60px;
    justify-content:space-between;
}
nav{
    margin-left: 15%;
}
ul{
    font-size: 20px;
    display: flex;
    color: #707070;
    gap: 53px;
}


/* სექცია */
section{
    width: 85.42%;
    height: 613px;
    margin: 0 auto 153px auto;
    background-image: url(../photos/სლაიდერი3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

/* არტიკლი 1 */
.article_1{
    width: 85.42%;
    margin: 0 auto;
}
.dashoreba1{
    margin-bottom: 149px;
}
.title{
    font-size: 40PX;
    color: #707070;
    margin-bottom: 68px;
}
.card{
   width: 100%;
   display: flex;
   justify-content: space-between;
   
}
.cards{
width: 29.45%;
height: 563px; 
box-shadow: 1px 3px 15px gray;
display: flex;
flex-direction: column;
align-items: center;
}
.photos{
    width: 100%;
    height: 50%;
    margin-bottom: 31px;
}
.sub_title{
    width: 95%;
    font-size: 30px;
    color: #707070;
    /* padding-left: 12px; */
}
.more{
    width: 95%;
    font-size: 24px;
    color: #707070;
    text-align: right;
    margin-top: 165px;
    
}

/* არტიკლი 2 */

.dashoreba2{
    margin-bottom:75px;
}

/* footer  */
footer{
    width: 100%;
    background-color: #2e2e2e;
    padding: 49px 140px 63px 140px;
    display: flex;
    justify-content: space-between;
}
.contact, .contact_1{
    font-size: 13px;
    color: #f2f2f2;
}

.adres{
    font-size: 20px;
    margin-bottom: 10px;
}
.icons{
    display: flex;
    color: #f8f8f8;
    gap: 34px;
}



